@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&?family=Open+Sans:wght@600&display=swap');

$primary-color: #fff;
$secondary-color: #282828;
$lightgray-color: #ebebeb;
$link-color1: #b48f1e;
$link-color2: #3f6342;

$main-font: 'Bebas Neue', cursive;
$game-font: 'Open Sans', sans-serif;
